<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common-head">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>page</title>

    <!-- JQuery -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

    <!-- CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/story.css}" rel="stylesheet">
    <link th:href="@{/css/popular.css}" rel="stylesheet">
    <link th:href="@{/css/profile.css}" rel="stylesheet">
    <link th:href="@{/css/upload.css}" rel="stylesheet">
    <link th:href="@{/css/update.css}" rel="stylesheet">
    <link th:href="@{/images/insta.svg}" rel="shortcut icon">

    <!-- Fontawesome -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css}" rel="stylesheet">
    <!-- Fonts -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap}"
          rel="stylesheet">

</head>
</html>